{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left:260px;">
        <div>
            <div class="col-12 {#d-flex justify-content-center#} mt-3 mb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des Villes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">Ajouter une ville</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <table class="table mt-1">
                            <thead>
                            <tr class="bg-header-table">
                                <th scope="col">id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Code postal</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ville in villes %}
                                <tr>
                                    <th class="tabOutil">{{ ville.id }}</th>
                                    <td class="tabOutil">{{ ville.nom }}</td>
                                    <td class="tabOutil">{{ ville.cp }}</td>
                                    <td>
                                        <a class="tabOutil btn btn-danger" href="{{ path('app_ville_delete', {'id': ville.id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a class="tabOutil btn btn-success" href="{{ path('app_ville_update', {'id': ville.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade mt-1" id="add" role="tabpanel" aria-labelledby="add-tab">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button class="mt-3 btn btn-outline-primary" type="submit">Ajouter</button>
                                {{ form_end(form) }}
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}