{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center loginForm {#bodyLogin#}">
    <form class="form-signin bg-light" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% if error != '' %}
        <div class="alert alert-danger" role="alert">
            Votre identifiant et/ou votre mot de passe est incorrect
        </div>
        {% endif %}
        <p class="h3 mb-3 font-weight-normal">Veuillez vous connecter</p>

        <label for="username" class="sr-only">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Identifiant" value="{{ last_username }}" required="" autofocus="">

        <label for="password" class="sr-only">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required="">

        <input type="submit" class="btn btn-primary my-3" id="_submit" name="_submit" value="Se connecter" />
    </form>
</div>

{% endblock %}
