{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="container">#}
    <div style="padding-left:260px;">

    <h2 class="text-center">Modification Chambre</h2>
    <h4>Images actuelles</h4>
    {% if chambre.image1 != '' %}
        <img width="200" src="{{ asset('/upload/image/chambre/' ~ chambre.image1) }}" />
    {% endif %}
    {% if chambre.image2 != '' %}
        <img width="200" src="{{ asset('/upload/image/chambre/' ~ chambre.image2) }}" />
    {% endif %}
    {% if chambre.image3 != '' %}
        <img width="200" src="{{ asset('/upload/image/chambre/' ~ chambre.image3) }}" />
    {% endif %}
    {% if chambre.image4 != '' %}
        <img width="200" src="{{ asset('/upload/image/chambre/' ~ chambre.image4) }}" />
    {% endif %}
    {% if chambre.image5 != '' %}
        <img width="200" src="{{ asset('/upload/image/chambre/' ~ chambre.image5) }}" />
    {% endif %}
    {#<div class="row">
    <div class="col-2"></div>#}
    <div class="col-12">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="mt-3 btn btn-outline-primary" type="submit">Modifier</button>
        {{ form_end(edit_form) }}
        {#</div>
            <div class="col-2"></div>
        </div>#}
    </div>

{% endblock %}